* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background-color: rgb(9, 27, 48);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Navbar */
nav {
    background-color: rgb(9, 27, 48);
    /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); */

}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    display: none;
    align-items: center;
}

.logo {
    display: flex;
}

nav a:hover {
    border-bottom: 2px solid #1F85DE;
}

.logo:hover {
    border-bottom: none;
}

nav li:first-child {
    font-weight: bolder;
    font-size: 30px;
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.089);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    padding: 0 10px;

    li,
    a {
        display: flex;
    }

}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: block;
    align-content: center;
}



/* Side Section */

.side-left {
    display: none;
    width: 80px;
    height: 100vh;
    border-right: 1px solid white;
    /* position: fixed;
    left: 0;
    top: 50px; */
}

.side-left ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* Container */

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-grow: 1;
}

.sec {
    width: 100%;
    min-height: 500px;
    /* border: 1px solid red; */
    padding: 20px 15px;
    margin: 30px 0;
}

.intro,
.about-title,
.skills-title,
.projects-title,
.contacts-title {
    color: #1F85DE;
}

/* Hero section */

.intro-img {
    display: grid;

    @media (width >=1024px) {
        grid-template-columns: repeat(2, 1fr);
    }

}

.hero {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.hero-div1 {
    margin-top: 20px;
}

.hero-h1 {
    font-size: 55px;
}

.hero-h2 {
    font-size: 40px;
}

.hero-p {
    min-width: 100px;
    max-width: 552px;
}

.image-container {
    margin-top: 3rem;
    display: grid;
    justify-content: center;


}

.HB {
    width: 180px;
}

.HB img {
    border-radius: 50%;
    width: 100%;
    background-color: #e3e4e4;
}

.heroCTA {
    display: inline-block;
    border: 1px solid #1F85DE;
    color: #1F85DE;
    width: 150px;
    height: 60px;
    border-radius: .5rem;
    text-align: center;
    align-content: center;

    transition: 100ms;
}

.heroCTA:hover {
    background-color: rgba(16, 69, 122, 0.862);
}

/* hero section scroll transition */
.hr p {
    transform: translate(0, 200%);
    opacity: 0;
    transition: 400ms ease;

}

.hr h1 {
    transform: translate(0, 200%);
    opacity: 0;
    transition: 500ms ease;

}

.hr h2 {
    transform: translate(0, 200%);
    opacity: 0;
    transition: 600ms ease;

}

.hr .main {
    transform: translate(0, 100%);
    opacity: 0;
    transition: 800ms ease;

}

.hr a {
    transform: translate(0, 200%);
    opacity: 0;
    transition: 1000ms ease;

}

.hr.show p,
.hr.show h1,
.hr.show h2,
.hr.show .main,
.hr.show a {
    transform: translate(0);
    opacity: 1;
}

.hr .HB {
    transform: translate(100%);
    opacity: 0;

    transition: 800ms ease;
}

.hr.show .HB {
    transform: translate(0);
    opacity: 1;
}

/* About section */

.about {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */

    gap: 2rem;
}

.about-title,
.about-p {
    max-width: 552px;
}



/* Skills section */

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.stacks {

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.SH {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    margin: 0 auto; */
    display: grid;
    grid-template-columns: repeat(2, 120px);
    justify-content: space-evenly;
    gap: 1rem;

    /* border: 1px solid blue; */
    padding: 10px;
}

.divCont {
    height: auto;
    /* border: 1px solid rgb(0, 255, 34); */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: nowrap;

}

.icon {
    min-width: 20px;
    max-width: 40px;
}

/* Project section */

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    height: auto;
}

.project-card {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    /* border: 2px solid white; */
}

.card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

    @media (width >=767px) {
        grid-template-columns: minmax(400px, 620px) clamp(400px, 450px, 500px);
    }
}

.imgDiv {
    background-color: black;
    width: 100%;
    height: 300px;
    border-radius: 7px;
    overflow: hidden;
    opacity: 0.5;

    transition: 200ms ease-in;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }


    @media (width >=767px) {
        width: clamp();
        height: 300px;
    }
}

.imgDiv:hover {
    opacity: 1;
}

.projDetails {
    display: grid;
    row-gap: 1rem;
    padding: 1rem 0;

    p {
        padding: 10px;
    }

    @media (width >=767px) {
        padding: 0;
    }

}



.stackUl {
    list-style-type: none;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: space-evenly;

    li {
        /* border: 1px solid white; */
        border-radius: 4px;
        padding: 5px;
        background-color: rgb(3, 10, 18);
        font-size: small;

    }
}

/* project section scroll tarnsitions */

.pj .projImg-container {
    transform: translate(-50%);
    opacity: 0;
    transition: 500ms ease-in-out;
}

.pj .projDetails {
    transform: translate(0, 50%);
    transition: 500ms ease;
}

.pj.show .projImg-container,
.pj.show .projDetails {
    transform: translate(0);
    opacity: 1;
}


/* Contact section */

.contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.contacts-title {
    text-align: center;
}

#contactForm {
    width: 100%;
    max-width: 500px;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 1.5rem;
    padding: 20px 0;

}

.nameDiv,
.emailDiv,
.msgDiv {
    width: 100%;
}

.inputbox {
    width: 100%;
    max-width: 500px;
    background-color: rgb(223, 223, 223);
    border-radius: 0.3rem;
    border: 0;
    padding-left: 1rem;
}

.name,
.email {
    min-height: 45px;

}

.message {
    padding-top: 10px;
    min-height: 110px;
    font-size: inherit;
    font-family: inherit;
}

.btn {
    background-color: inherit;
    align-self: center;
    border: 1px solid #1F85DE;
    color: #1F85DE;
    width: 150px;
    height: 60px;
    border-radius: .5rem;
    text-align: center;
    align-content: center;
}

/* Socials */

.socials {
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 20px;
}

.svg {
    width: 25px;
    height: 25px;
    transition: all 0.2s;
    margin: 5px;
}

.svg:hover {
    fill: #1F85DE;
    scale: 110%;
}

.socials ul {
    width: 100%;
    list-style: none;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* Footer */

footer {
    width: 100%;
    height: 100px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;

}



/*  Screen Sizes */
@media (min-width: 500px) and (max-width: 1024px) {

    /* .hideOnMobile {
        display: none;
    } */

    .sidebar {
        max-width: 50%;
    }

    .sec {
        padding: 40px;
    }

    .hero-p {

        max-width: 700px;
    }

    .about-title,
    .about-p {

        max-width: 500px;
    }

    .SH {
        grid-template-columns: repeat(3, 120px);
    }
}


@media (min-width: 1024px) {

    .hideOnMobile {
        display: flex;
    }

    nav {
        padding: 0 55px;
    }

    .menu-button {
        display: none;
    }

    .sec {
        padding: 0 60px;
    }

    .hero-p {
        line-height: 35px;
    }

    .about {

        min-width: 700px;
    }

    .about-p {
        min-width: 630px;
        line-height: 35px;
    }

    .SH {
        grid-template-columns: repeat(5, 120px);
    }

    .main-container {
        display: flex;
        position: relative;
    }

    .middle {
        display: flex;
        /* border: 2px solid green; */
        flex-grow: 1;

    }

    /* Side Section */

    .side-left {
        display: block;
        width: 120px;
        height: 100%;
        border-right: 1px solid white;
        position: relative;
    }

    .side-left ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
        gap: 60px;
        position: fixed;
        left: 40px;
    }

    .socials {
        display: none;
    }



}