* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background-color: rgb(9, 27, 48);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Navbar */
nav {
    background-color: rgb(9, 27, 48);
    /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); */
    
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}
nav a {
    height: 100%;
    padding: 0 30px;
    display: none;
    align-items: center;
}

.logo {
    display: flex;
}


nav a:hover {
    border-bottom: 2px solid #1F85DE;
}

.logo:hover {
    border-bottom: none;
}

nav li:first-child {
    font-weight: bolder;
    font-size: 30px;
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.089);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    padding: 0 10px;

    li,
    a {
        display: flex;
    }

}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: block;
    align-content: center;
}



/* Side Section */

.side-left {
    display: none;
    width: 80px;
    height: 100vh;
    border-right: 1px solid white;
    /* position: fixed;
    left: 0;
    top: 50px; */
}

.side-left ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

/* Container */

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-grow: 1;
}

.sec {
    width: 100%;
    min-height: 500px;
    /* border: 1px solid red; */
    padding: 20px 15px;
    margin: 30px 0;
}

.intro,
.about-title,
.skills-title,
.projects-title,
.contacts-title {
    color: #1F85DE;
}

/* Hero section */
.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.hero-div1 {
    margin-top: 20px;
}

.hero-h1 {
    font-size: 55px;
}

.hero-h2 {
    font-size: 40px;
}

.hero-p {
    max-width: 552px;
}


.heroCTA {
    display: inline-block;
    border: 1px solid #1F85DE;
    color: #1F85DE;
    width: 150px;
    height: 60px;
    border-radius: .5rem;
    text-align: center;
    align-content: center;
}

/* About section */

.about {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */

    gap: 2rem;
}

.about-title,
.about-p {
    max-width: 552px;
}



/* Skills section */

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.stacks {

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.SH {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    gap: 1rem;

    /* border: 1px  solid blue; */
    padding: 10px;
}

.divCont {
    min-width: 120px;
    max-width: 150px;
    height: auto;
    /* border: 1px  solid rgb(0, 255, 34); */
    padding: 10px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.icon {
    min-width: 24px;
    max-width: 50px;
}

/* Project section */

/* Contact section */

.contacts {
    display: flex;
    flex-direction: column;
}

.contacts-title {
    text-align: center;
}

#contactForm {
    width: 100%;
    max-width: 500px;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 1.5rem;
    padding: 20px 0;

}

.nameDiv,
.emailDiv,
.msgDiv {
    width: 100%;
}

.inputbox {
    width: 100%;
    max-width: 500px;
    background-color: rgb(223, 223, 223);
    border-radius: 0.3rem;
    border: 0;
    padding-left: 1rem;
}

.name,
.email {
    min-height: 45px;

}

.message {
    padding-top: 10px;
    min-height: 110px;
    font-size: inherit;
    font-family: inherit;
}

.btn {
    background-color: inherit;
    align-self: center;
    border: 1px solid #1F85DE;
    color: #1F85DE;
    width: 150px;
    height: 60px;
    border-radius: .5rem;
    text-align: center;
    align-content: center;
}



/*  Screen Sizes */
@media (min-width: 500px) and (max-width: 1024px) {

    /* .hideOnMobile {
        display: none;
    } */

    .sidebar {
        max-width: 50%;
    }

    .sec {
        padding: 40px;
    }

    .hero-p {
        min-width: 700px;
    }

    .about-title,
    .about-p {

        min-width: 500px;
    }
}


@media (min-width: 1024px) {

    .hideOnMobile {
        display: flex;
    }

    nav {
        padding: 0 80px;
    }

    .menu-button {
        display: none;
    }
    .sec {
        padding: 0 60px;
    }

    .hero-p {
        line-height: 35px;   
    }

    .about {

        min-width: 700px;
    }

    .about-p {
        min-width: 630px;
        line-height: 35px;
    }

    .main-container {
        display: flex;
        position: relative;
    }

    .middle {
        display: flex;
        /* border: 2px solid green; */
        flex-grow: 1;

    }

    /* Side Section */

    .side-left {
        display: block;
        width: 120px;
        height: 100%;
        border-right: 1px solid white;
        position: relative;
    }

    .side-left ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 120px;
        gap: 80px;
        position: fixed;
        left: 40px;
    }

    .svg:hover {
        fill: #1F85DE;
        width: 28px;
        height: 28px;
    }

}